[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pylint = "*"
flake8 = "*"
coverage = "*"

[packages]
pyspark = "*"

[requires]
python_version = "3"
